@import "@colors";
.message-content-container {
  flex: 12;
  overflow: auto;
  display: flex;
  flex-direction: column;
  :first-child {
    margin-top: auto !important;
  }
}
.message-content-container::-webkit-scrollbar {
  width: 0.5rem;
}
.message-content-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 1rem;
}
