@import "@colors";
.side-header {
  position: relative;
  display: flex;
  padding: 0.8rem;
  align-items: center;
  justify-content: center;
}
// .side-header::after {
//   content: "";
//   position: absolute;
//   width: 90%;
//   height: 0.1rem;
//   background-color: $grey100;
//   bottom: 0;
//   left: 1rem;
//   border-radius: 3rem;
// }
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.8rem;
}
.side-header-icon {
  color: $primary;
}
