@import "@colors";
.side-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
}
.side-header::after {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 0.1rem;
  background-color: $grey200;
  bottom: 0;
}
.side-header-icon {
  background-color: $primary;
  color: white;
  border-radius: 2rem;
  padding: 1rem;
}
