@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "colors";

body {
  margin: 0;
  font-family: "Roboto";
}
.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
