@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap");
@import "@colors";
@import "variables";
body {
  margin: 0;
  font-family: "Poppins";
}
.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  // letter-spacing: 0.05rem;
  overflow-y: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
p {
  margin: 0;
  padding: 0;
  color: $dark200;
}
a {
  text-decoration: none;
}
textarea {
  border: none;
  font-family: "Poppins";
  outline: none;
  overflow-y: auto;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0.3rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 1rem;
}
