@import "@colors";
.chat-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.8rem;
  img {
    object-fit: cover;
    border-radius: 100%;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: $grey300;
  }
  a {
    background-color: $cyan200;
  }
}
