@import "@colors";
.message-input-container {
  display: flex;
  padding: 0.5rem;
}
.message-composer {
  flex: 3;
  display: flex;
  margin: 0 0.5rem;
  .textareaAutosize {
    flex: 1;
    background-color: $grey50;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }
}
.message-actions {
  align-self: flex-end;
  gap: 0.5rem;
  display: flex;
  padding-bottom: 0.4rem;
  color: $blue200;
}
